/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    color-scheme: dark;
}

html {
    font-size: 62.5%;

    scroll-behavior: smooth;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;

    background: $dark-color;
    color: $light-color;

    padding-bottom: 10rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}