/* Variables and mixins declared here will be available in all other SCSS files */
$dark-color: #262626;
$gray-color: #2E2E2E;
$light-color: #F5F5F5;
$disabled-color: #ADADAD;
$accent-color: #34D399;
